<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VOO</title>
  </head>
  <body>
    <section class="container">
      <h1>VOO</h1>
      <t>Confira todos os voos <br>realizados ou insira mais</t>
      <br><br><br>
     <img src="https://st.depositphotos.com/3095291/4198/i/600/depositphotos_41982269-stock-photo-aircraft-isolated-on-white-background.jpg">
     <br><br>
    </section>
    <nav>
      <ul class="collapse navbar-collapse justify-content-end">
        <li>
          <a href="?acao=Form">Formulario</a>
        </li>
        <li>
          <a href="?acao=Tabela">Tabela</a>
        </li>
        <li>
            <a href="index.php">Sair</a>
          </li>
      </ul>
    </nav>
  </body>
</html>